body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 242, 245);
  font-size: 20px;
  margin: 1em;
}

h1 {
  color: rgb(20, 240, 240);
  font-weight: 700;
  margin-bottom: 50px;
}

h2 {
  color: rgb(25, 47, 248);
  font-weight: 700;
  margin-bottom: 40px;
  
}

img {
  
  width: 30%;
  float: right;
  position: absolute;
  top: 2%;
  right: 0;
}

strong {
  text-decoration: underline;
}


.bootstrap, .developerTools, .htmlCss, .git{
    border: 1px solid #000;
}

/* Snippet from the Bootstrap CSS file */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;

  padding-right: 15px;

  padding-left: 15px;

  margin-right: auto;

  margin-left: auto;
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
